.button-danger {
    background-color: #dc3232;
    border-color: #dc3232;
    color: #ffffff;
}

.button-danger:hover {
    background-color: #a00;
    border-color: #a00;
}

.inline-block {
    display: inline-block;
}

.margin-top-10{
    margin-top: .5em;
}

.margin-right-10 {
    margin-right: .5em;
}
